{%- set shared_menu_en = [
        {
            'name':
            'Docs',
            'children': [
                {
                    'name': 'MMEngine',
                    'url': 'https://onedl-mmengine.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMCV',
                    'url': 'https://onedl-mmcv.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMPreTrain',
                    'url':
                    'https://onedl-mmpretrain.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDetection',
                    'url': 'https://onedl-mmdetection.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMSegmentation',
                    'url': 'https://onedl-mmsegmentation.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDeploy',
                    'url': 'https://onedl-mmdeploy.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMRotate',
                    'url': 'https://onedl-mmrotate.readthedocs.io/en/latest/',
                },
            ]
        },
        {
            'name':
            'VBTI-Development',
            'children': [
                {
                    'name': 'OneDL',
                    'url': 'https://onedl.ai/'
                },
                {
                    'name': 'VBTI',
                    'url': 'https://vbti.nl/'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/vbti-development/'
                },
                {
                    'name': 'OpenMMLab',
                    'url': 'https://openmmlab.com/'
                },
            ]
        },
    ]
-%}


{%- set lang_menu_mapping = {'default': shared_menu_en, 'en': shared_menu_en} -%}
