{%- set shared_menu_en = [
        {
            'name':
            'Docs',
            'children': [
                {
                    'name': 'MMEngine',
                    'url': 'https://mmengine.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMCV',
                    'url': 'https://mmcv.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMPreTrain',
                    'url':
                    'https://mmpretrain.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDetection',
                    'url': 'https://mmdetection.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMSegmentation',
                    'url': 'https://mmsegmentation.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMDeploy',
                    'url': 'https://mmdeploy.readthedocs.io/en/latest/',
                },
                {
                    'name': 'MMRotate',
                    'url': 'https://mmrotate.readthedocs.io/en/latest/',
                },
            ]
        },
        {
            'name':
            'VBTI-Development',
            'children': [
                {
                    'name': 'OneDL',
                    'url': 'https://onedl.ai/'
                },
                {
                    'name': 'VBTI',
                    'url': 'https://vbti.nl/'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/vbti-development/'
                },
                {
                    'name': 'OpenMMLab',
                    'url': 'https://openmmlab.com/'
                },
            ]
        },
    ]
-%}

{%- set shared_menu_cn = [
        {
            'name':
            '文档',
            'children': [
                {
                    'name': 'MMEngine',
                    'url': 'https://mmengine.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMCV',
                    'url': 'https://mmcv.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMPreTrain',
                    'url':
                    'https://mmpretrain.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMDetection',
                    'url': 'https://mmdetection.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMSegmentation',
                    'url':
                    'https://mmsegmentation.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMDeploy',
                    'url': 'https://mmdeploy.readthedocs.io/zh_CN/latest/',
                },
                {
                    'name': 'MMRotate',
                    'url': 'https://mmrotate.readthedocs.io/zh_CN/latest/',
                },
            ]
        },
        {
            'name':
            'VBTI-Development',
            'children': [
                {
                    'name': 'OneDL',
                    'url': 'https://onedl.ai/'
                },
                {
                    'name': 'VBTI',
                    'url': 'https://vbti.nl/'
                },
                {
                    'name': 'GitHub',
                    'url': 'https://github.com/vbti-development/'
                },
                {
                    'name': '官网',
                    'url': 'https://openmmlab.com/'
                },
            ]
        },
    ]
-%}

{%- set lang_menu_mapping = {'default': shared_menu_en, 'cn': shared_menu_cn, 'en': shared_menu_en} -%}
